@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
margin:0;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;
list-style: none;
text-decoration: none;
scroll-padding-top: 2rem;
}
:root{
    --main-color:#008148;
    --second-color:#1e3932;
}

img{
    width: 100%;
}
.logo img{
    width:50px;
}
header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0 4px 41px rgba(14 55 54 / 14%);
    padding:15px 10%;
    transition: 0.2s;
}
.logo{
    display:flex;
    align-items:center;
    
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding:11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--main-color);

}
#menu-icon{
    font-size: 24px;
    cursor:pointer;
    z-index: 1001;
    display: none;
}
section{
    padding:50px 10%;
}
*::selection{
    color:#fff;
    background-color:#008148;
}
.home{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ebdbc8;
    gap:1rem;
}
.home-text{
    flex: 1 1 17rem;
}
.home-img{
    flex:1 1 17rem;
    
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform:translate(-11px,0);
    }
    50%{
        transform:translate(-0px,-11px);
    }
    100%{
        transform:translate(-11px,0);
    }

}
.home-text span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
}
.home-text h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2{
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--second-color);
    margin:0.5rem 0 1.4rem;
    text-transform: uppercase;
}
.btn{
    padding: 7px 16px;
    border:2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    background: var(--second-color);
    color: #fff;
}
.heading{
    text-align: center;
    text-transform: uppercase;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color:var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color:var(--main-color);
}
.shop-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-top: 5rem;
}
.shop-container .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;border-radius: 0.5rem;
}